<html>

	<head>
		<title> Machine Learning blogs </title>
	</head>	
	<body>

	<div>
		<h1> Blogs releted to AI and ML </h1>

	</div>	

		<div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Application of machine learning in mechanical field.</p>
        </div>


        <div>
            <p>published: 14.06.2015, 12:14</p>
            <h2><a href="">Second post</a></h2>
            <p>Application of Deep Learning in mechanical field as well as in CAD/CAM.</p>
        </div>


		<strong>  My Website  </strong>
		<br>
		<a href = "https://sudhir5595.github.io/"> Click here </a>  
	</body>
</html>		